$color-negro:var(--color-negro);
$display-flex:var(--disp-flex);
$color-blanco:var(--color-blanco);
$color-fondo-buscador:var(--color-fondo-buscador);

@mixin centrar-centrar {
    display: $display-flex;
    justify-content: center;
    align-items: center;    
}

.section-banner{
    height: 400px;
    background: url(../img/banner.png);
    background-size: cover;
    @include centrar-centrar();
    .caja-texto-banner{
        color: $color-blanco;
        position: relative;
        top: -70px;
        .contenedor-txt-precio{
            .precio-txt-banner{
                display: $display-flex;
                
            }
        }
    }
}

.section-banner::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.405);
    width: 100%;
    height: 400px;
}