@import url("https://fonts.googleapis.com/css2? family = Montserrat: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,900; 1,100; 1,200; 1,300; 1.400; 1.500; 1.600; 1.700; 1.800; 1.900 & display = swap ");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{


    /*Colores*/
    --color-primario:#004B84;
    --color-secundario:#FD684F;
    --color-terciario:#88BE55;
    --color-fondo-buscador:#002A4A;
    --color-negro:#000;
    --color-blanco:#fff;
    --color-gris:#00000029;
    --color-gris-claro:#F0F0F0;

    /*Display*/
    --disp-flex:flex;

    /*Tamaños fuentes*/
    --fs-9:56.25%;
    --fs-10:62.5%;
    --fs-12:75%;
    --fs-13:81.25%;
    --fs-15:93.75%;
    --fs-16:100%;
    --fs-20:125%;
    --fs-22:137.5%;
    --fs-25:156.25%;
    --fs-30:187.5%;
    --fs-35:218.75%;
    --fs-40:250%;
    --fs-45:281.25%;
    --fs-50:312.5%;
    --fs-55:343.75%;
    --fs-60:375%;

}

/*Aspectos generales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}



/*Colores fondo contenedores*/

.bg-primario{background-color:var(--color-primario);}
.bg-secundario{background-color:var(--color-secundario);}
.bg-secundario{background-color:var(--color-terciario);} //88BE55
.bg-fondo-buscador{background-color:var(--color-fondo-buscador);}
.bg-negro{background-color:var(--color-negro);}
.bg-blanco{background-color:var(--color-blanco);}
.bg-gris{background-color:var(--color-gris);}
.bg-gris-claro{background-color: var(--color-gris-claro);}

/*fonts size*/
.fs-9{font-size:var(--fs-9);}
.fs-10{font-size:var(--fs-10);}
.fs-12{font-size:var(--fs-12);}
.fs-15{font-size:var(--fs-15);}
.fs-16{font-size:var(--fs-16);}
.fs-20{font-size:var(--fs-20);}
.fs-22{font-size:var(--fs-22);}
.fs-25{font-size:var(--fs-25);}
.fs-30{font-size:var(--fs-30);}
.fs-35{font-size:var(--fs-35);}
.fs-40{font-size:var(--fs-40);}
.fs-50{font-size:var(--fs-50);}
.fs-60{font-size:var(--fs-60);}

/*Color fuentes*/
.colorf-primario{color: var(--color-primario);}
.colorf-secundario{color: var(--color-secundario);}
.colorf-terciario{color: var(--color-terciario);}
.colorf-blanco{color: var(--color-blanco);}

/*tamanos contenedores*/
.contenedor-base{
    padding: 0 10%;
}
.contenedor-100{
    width: 100%;
}
.contenedor-90{
    width: 90%;
}
.contenedor-85{
    width: 85%;
}
.contenedor-80{
    width: 80%;
}
.contenedor-75{
    width: 75%;
}
.contenedor-70{
    width: 70%;
}

.contenedor-60{
    width: 60%;
}
.contenedor-50{
    width: 50%;
}
.contenedor-45{
    width: 45%;
}
.contenedor-40{
    width: 40%;
}
.contenedor-32{
    width: 32%;
}
.contenedor-30{
    width: 30%;
}
.contenedor-25{
    width: 25%;
}
.contenedor-24{
    width: 24%;
}
.contenedor-20{
    width: 20%;
}
.contenedor-15{
    width: 15%;
}
.contenedor-10{
    width: 10%;
}

/*padding*/
.p-1{padding:1%;}
.p-2{padding:2%;}
.p-3{padding:3%;}
.p-4{padding:4%;}
.p-5{padding:5%;}
.p-6{padding:6%;}

/*Padding coordenada y*/
.py-1{padding-top:1%; padding-bottom:1%;}
.py-2{padding-top:2%; padding-bottom:2%;}
.py-3{padding-top:3%; padding-bottom:3%;}
.py-4{padding-top:4%; padding-bottom:4%;}
.py-5{padding-top:5%; padding-bottom:5%;}
.py-6{padding-top:6%; padding-bottom:6%;}

/*Padding coordenada X*/
.px-1{padding-left: 1% 0; padding-right: 1%;}
.px-2{padding-left: 2% 0; padding-right: 2%;}
.px-3{padding-left: 3% 0; padding-right: 3%;}
.px-4{padding-left: 4% 0; padding-right: 4%;}
.px-5{padding-left: 5% 0; padding-right: 5%;}
.px-6{padding-left: 6% 0; padding-right: 6%;}

/*Margin coordenada X*/

.mx-1{margin-left: 1%; margin-right: 1%}
.mx-2{margin-left: 2%; margin-right: 2%}
.mx-3{margin-left: 3%; margin-right: 3%}
.mx-4{margin-left: 4%; margin-right: 4%}
.mx-5{margin-left: 5%; margin-right: 5%}

/*Margin coordenada Y*/
.my-1{margin-top: 1%; margin-bottom: 1%}
.my-2{margin-top: 2%; margin-bottom: 2%}
.my-3{margin-top: 3%; margin-bottom: 3%}
.my-4{margin-top: 4%; margin-bottom: 4%}
.my-5{margin-top: 5%; margin-bottom: 5%}
